* {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #2A2A2A;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.nav-title {
  color: white;
}

.nav-links {
  gap: 20px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.active {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #ccc;
}

.btn {
  padding: 0.25em 1.5em;
  font-size: large;
  color: white;
  background-color:cornflowerblue;
  box-shadow: 2px 2px 0 black;
  border: 2px solid black;
}
